<!DOCTYPE html>
<html>
<head>
  <title>Opportunities</title>
  <%= stylesheet_link_tag :all %>
    <link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/ui.all.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/smoothness/jquery-ui.css" type="text/css" rel="Stylesheet" />
    <link rel="stylesheet" href="/stylesheets/aristo/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/javascripts/timeglider_js/timeglider/Timeglider.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

  <%= yield :head %> 

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
